* {
    margin: 0;
    padding: 0;
}

#header > ul {
    background-color: black;
    color: gray;
}

#header > ul > li {
    list-style: none;
    display: inline-block;
    color: lightgray;
}

#header > ul > li > a {
    text-decoration: none;
    padding: 10px;
    display: block;
    color: lightgray;
}

#header > ul > li > a:visited {
    color: gray;
    color: white;
}

#header > ul > li > a:hover {
    color: white;
}

#footer {
    text-align: center;
    width: 100%;

}

