<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/mainLayout}">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <div style="text-align: center" layout:fragment="content">
        <h1>세상을 바꾸는 HOME!</h1>
        <h1>다음 세대에게 더 나은 세상을!</h1>
        <h1>지구를 사랑하는 마음!</h1>
        <h1 th:text="${#request.getAttribute('msg')}"></h1>
        <h1>.</h1>
        <h1>.</h1>
        <h1>.</h1>
        <h1>.</h1>
    </div>
</html>



